<% content_for :head do %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="quilombola">
    <meta name="author" content="quilombola services">
    <link rel="shortcut icon" href="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/favicon.png">

    <title>quilombola</title>

    <!-- Bootstrap core CSS -->
    <link href="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/stylized-form.css" rel="stylesheet">

    <!-- jQuery via maxCDN -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

    <!-- Bootstrap Tab JS -->
    <script src="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/tab.js"></script>

    <!-- Bootstrap Modal JS -->
    <script src="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/modal.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/html5shiv.js"></script>
      <script src="https://s3-ap-northeast-1.amazonaws.com/www-quilombola-kr/respond.min.js"></script>
    <![endif]-->

    <!-- Load Google Fonts -->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Orbitron|Syncopate">

    <!-- Quilombola CSS -->
    <style type="text/css">
	.qu-heading		{ text-align: center; }
	.qu-copy		{ text-align: center; }
	.qu-logo		{ font-family: 'Orbitron', Helvetica, Arial, san-serif; }
	.qu-brand		{ font-family: 'Syncopate', Helvetica, Arial, san-serif; color: #faa732; }
    </style>
<% end %>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
	<div class="row">
	  <div class="col-xs-12 col-md-4 col-xs-offset-3 col-md-offset-4">
	    <div class="page-header qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
	    <ul class="nav nav-tabs" id="myTab">
	      <li class="active"><a href="#home">Home</a></li>
	      <li><a href="#about">About</a></li>
	      <li><a href="#services">Services</a></li>
	      <li><a href="#contact">Contact</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="home">
		<p class="qu-copy"> </p>
		<p class="qu-copy">We provide marketing strategy, business development, immigration / visa, and relocation / cultural adaptation consulting and support services. We specialize in the provision of these services for telecom, new media, and related entrepreneurial ventures.</p>
		<p class="qu-copy">We are also the proud sponsor of the <a href="http://www.cdoseoul.com/">Cordão de Ouro</a> capoeira group in Seoul.</p>
	      </div>
	      <div class="tab-pane" id="about">
	      </div>
	      <div class="tab-pane" id="services">
		<p class="qu-copy"> </p>
		<p class="qu-copy"><a data-toggle="modal" href="#marketing-strategies-modal">Marketing Strategy</a></p>
		<p class="qu-copy"><a data-toggle="modal" href="#business-development-modal">Business Development Services</a></p>
		<p class="qu-copy"><a data-toggle="modal" href="#immigration-support-modal">Immigration Support</a></p>
		<p class="qu-copy"><a data-toggle="modal" href="#relocation-support-modal">Relocation Support</a></p>
                <!-- Modal -->
                <div class="modal fade" id="marketing-strategies-modal" tabindex="-1" role="dialog" aria-labelledby="marketingLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
                      </div>
                      <div class="modal-body">
			<h5>Marketing Strategy Advisory</h5>
			<p>Korean FDI Market Entry Strategies. Business Plan Design and Development. Pricing Strategies. Brand Development. Bootstrapping and Entrepreneurial Finance Strategies.</p>
                      </div>
                      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- Modal -->
                <div class="modal fade" id="business-development-modal" tabindex="-1" role="dialog" aria-labelledby="bizdevLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
                      </div>
                      <div class="modal-body">
                        <h5>Business Development Service</h5>
                        <p>Client Prospecting. Customer Lead Generation. Customer Pipeline Management. Client Engagement. Relationship Management. Customer Support.</p>
                      </div>
                      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- Modal -->
                <div class="modal fade" id="immigration-support-modal" tabindex="-1" role="dialog" aria-labelledby="immigrationLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
                      </div>
                      <div class="modal-body">
                        <h5>Immigration Support</h5>
                        <p>General Visa / Immigration Support. Visa Category Consulting. Visa Document Processing. Alien Registration Card Issuing. Visa Extension & Termination Support.</p>
                      </div>
                      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- Modal -->
                <div class="modal fade" id="relocation-support-modal" tabindex="-1" role="dialog" aria-labelledby="relocationLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="modal-title qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
                      </div>
                      <div class="modal-body">
                        <h5>Relocation Support</h5> 
			<p>Housing Support. Furniture Rental & Acquisition. Utilities / Internet / Telephone / Cable TV Provision. Airport Pickup & Cultural Awareness Service. Shipping & Other Relocation Services.</p>
                      </div>
                      <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
	      </div>
	      <div class="tab-pane" id="contact">
		<p class="qu-copy"> </p>
		<p class="qu-copy"><a data-toggle="modal" href="#contact-form-modal">Contact Form</a></p>
		<p class="qu-copy">Quilombola Strategies</p>
		<p class="qu-copy">1106 Jongno 1 Beon Ga, Gwancheol-dong</p>
		<p class="qu-copy">Jongno-gu, Seoul 110-111, Korea</p>
		<p class="qu-copy">info@quilombola.com</p>
	      	<!-- Modal -->
		<div class="modal fade" id="contact-form-modal" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
	          <div class="modal-dialog">
	            <div class="modal-content">
	              <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    	        <div class="modal-title qu-heading"> <h2><span class="qu-logo">qu</span> <span class="qu-brand">strategies</span></h2> </div>
	              </div>
	              <div class="modal-body">
	                <h5>Contact Us</h5>
	                <p> Please fill out the form below to schedule a consultation. </p>
	                <div id="stylized-form">
	                  <form id="form" name="form" method="post" action="/contact">
	                    <div class="wrapper-block"> <label>Contact Name:</label> <input type="text" name="name" id="name" /> </div>
	                    <div class="wrapper-block"> <label>Email Address:</label> <input type="text" name="email" id="email" /> </div>
	                    <div class="wrapper-block"> <label for="comments">Services Required / Background Information:</label> 
				<textarea name="comments" id="comments" rows="3" cols="10"></textarea> </div>
	                    <input type="submit" value="Submit" class="submit btn-form" /></input>
         	          </form>
	                </div>
	              </div>
	              <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
	            </div><!-- /.modal-content -->
	          </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	      </div>
	    </div>
	    <script>
	    $('#myTab a').click(function (e) {
	      e.preventDefault()
	      $(this).tab('show')
	    })
	    </script>
	    </div>
	  </div><!-- end of column -->
	</div><!-- end of row -->
      </div><!-- end of container -->
    </div><!-- end of wrap -->
  <!-- Google Analytics Code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43909973-1', 'quilombola.com');
    ga('send', 'pageview');

  </script>
  <!-- End of Google Analytics Code -->
